// Цветовая палитра

// Основные цвета
$primary: #53CEFF    // Кнопки, активные элементы, иконки
$secondary: #B9EBFF    // Фон карточек, панелей
$accent: #FFB9EB    // Акценты, бейджи, важные действия

// Цвета (для текста и фона)
$dark: #000000  // Основной текст
$dark-page: #c9efff // Фон страницы (поменять)

// Итоговые цвета
$positive: #36f700  // Успех, подтверждение
$negative: #ff3700  // Ошибки, предупреждения
$info: #47eefd  // Информация
$warning: #ffe100   // Предупреждения

// Дополнительно
$gray-saturated  : #DCDCDC
$gray-light      : #B9EBFF
$gray-bright     : #ECFFFF

$accent-purple   : #F0B9FF
$accent-orange   : #FFCDB9
$accent-lime     : #C8FFB9
$accent-cyan     : #B9FFF7
$accent-blue     : #B9DDFF
$accent-indigo   : #B9CFFF
$accent-lavender : #DBB9FF

// Настройка QUASAR
$border-radius: 8px
$generic-border-radius: 4px

// Шрифты
$typography: (
  font-family: 'Roboto, -apple-system, "Helvetica Neue", Helvetica, Arial, sans-serif',
  font-size: 14px,
  line-height: 1.5
)